.main-content {
  margin-left: 220px; /* Espaço suficiente para a navbar */
  padding: 20px;
  position: relative;
  z-index: 1;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 220px;
  background-color: #343a40; /* fundo escuro */
  z-index: 10; /* Navbar deve ter um índice z maior para estar acima */
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-top: 20px;
}

.navbar-brand {
  margin-bottom: 30px;
  padding-left: 15px;
}

.nav-item {
  width: 100%;
}

.nav-link {
  padding: 10px 15px;
  color: #fff;
  text-decoration: none;
}

.nav-link:hover {
  background-color: #495057;
  color: #fff;
}
