/* src/app/layout.css */

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  display: flex;
  height: 100vh;
}

#root {
  display: flex;
  width: 100%;
}

.main-content {
  margin-left: 220px; /* Espaço suficiente para a navbar */
  padding: 20px;
  flex-grow: 1;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 220px;
  background-color: #343a40; /* fundo escuro */
  z-index: 10; /* Navbar deve ter um índice z maior para estar acima */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 20px;
  transition: transform 0.3s ease-in-out;
  transform: translateX(-100%); /* Inicialmente escondido no modo responsivo */
}

.navbar.open {
  transform: translateX(0);
}

.navbar.closed {
  transform: translateX(-100%);
}

.navbar-brand {
  margin-bottom: 30px;
  padding-left: 15px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hamburger {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.5em;
  color: #fff;
}

.nav-item {
  width: 100%;
}

.nav-link {
  padding: 10px 15px;
  color: #fff;
  text-decoration: none;
}

.nav-link:hover {
  background-color: #495057;
  color: #fff;
}

.dark-mode-toggle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px;
  border-top: 1px solid #495057;
  margin-top: auto;
}

.dark-mode-toggle button {
  background: none;
  border: none;
  cursor: pointer;
  color: #fff;
}

@media (max-width: 768px) {
  .navbar {
    width: 100%;
    height: auto;
    transform: translateX(-100%);
  }

  .navbar.open {
    transform: translateX(0);
  }

  .main-content {
    margin-left: 0;
  }

  .hamburger {
    display: block;
  }
}
